.error-board-comment {

    .error-board-comment-input {
        width: 600px;
        height: 80px;
        float: left;
        margin-top: 120px;
        padding-left: 8px;
        font-size: 16px;
    }

    .error-board-comment-button {
        width: 100px;
        height: 52px;
        margin-top: 20px;
        background-color: cornflowerblue;
        font-size: 16px;
        font-weight: bold;
        color: white;
        float: right;
    }
}